.nav{
    display:flex;
    background-color: #c9184a;
    justify-content: center;
    border-radius: 999999rem;
    height: 3rem;
   
}

.buttons{
    display:flex;
    margin-right: 5rem;
    align-items: center;
    gap: 3rem;
}

.linkabout{
    color:black;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    align-items: center;
    margin-left: 1rem;
    margin-top: .5rem;
    width: fit-content;
    height: 2.2rem;
    border: transparent;

    overflow: hidden;
    transition: 300ms;
}
.linkabout:hover{
    cursor: pointer;
    color: #ff9100;
    text-shadow: #FD96A9;
}
.linkabout::after{
    content: '';
    position: absolute;
    
    top: 40%;
    left: 50%;
    right: 50%;
    width: 0%;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    transition: .3s;
}
.linkabout:hover::after{
    left: 0%;
    right: 0%;
    width: 100%;
    margin-top: 1rem;
    
}


.linkhome{
    color: black;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    align-items: center;

    margin-left: 1rem;
    margin-top: .5rem;
    width: fit-content;
    height: 2.2rem;
    border: transparent;

    overflow: hidden;
    transition: 300ms;
}
.linkhome:hover{
    cursor: pointer;
    color: #ff9100;
    text-shadow: #FD96A9;
}

.linkhome::after{
    content: '';
    position: absolute;
   
    top: 40%;
    left: 50%;
    right: 50%;
    width: 0%;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    transition: .3s;
}
.linkhome:hover::after{
    left: 0%;
    right: 0%;
    width: 100%;
    margin-top: 1rem;
}

.linklogout{
    color: black;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    align-items: center;

    margin-left: 1rem;
    margin-top: .5rem;
    width: fit-content;
    height: 2.2rem;
    border: transparent;

    overflow: hidden;
    transition: 300ms;
}
.linklogout:hover{
    cursor: pointer;
    color: #ff9100;
    text-shadow: #FD96A9;
}

.linklogout::after{
    content: '';
    position: absolute;
    top: 40%;
    left: 50%;
    right: 50%;
    width: 0%;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    transition: .3s;
}
.linklogout:hover::after{
    left: 0%;
    right: 0%;
    width: 100%;
    margin-top: 1rem;
}
.linkfavorite{
    color: black;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    align-items: center;

    margin-left: 1rem;
    margin-top: .5rem;
    width: fit-content;
    height: 2.2rem;
    border: transparent;

    overflow: hidden;
    transition: 300ms;
}
.linkfavorite:hover{
    cursor: pointer;
    color: #ff9100;
    text-shadow: #FD96A9;
}

.linkfavorite::after{
    content: '';
    position: absolute;
   
    top: 40%;
    left: 50%;
    right: 50%;
    width: 0%;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    transition: .3s;
}
.linkfavorite:hover::after{
    left: 0%;
    right: 0%;
    width: 100%;
    margin-top: 1rem;
}