.container{
    background-color:  #a2d2ff;
}

.name{
    color: rgb(183, 124, 35);
}
.status{
    color: rgb(183, 124, 35);
}

.species{
    color: rgb(183, 124, 35);
}

.gender{
    color: rgb(183, 124, 35);
}

.origin{
    color: rgb(183, 124, 35);
}