.container{
   
    padding: 2rem;
  
}

.imagecontainer{
    
        display: flex;
        justify-content: center;
}
    
.container div img{
        width: 20rem;
        height: 20rem;
        border-radius: 8rem;
        overflow: hidden;
     
    }



.name{
    color:#ff006e;
    display: flex;
    justify-content: center;
}
.status{
    color:#ff006e;
    display: flex;
    justify-content: center;
}

.species{
    color:#ff006e;
    display: flex;
    justify-content: center;
}

.gender{
    color:#ff006e;
    display: flex;
    justify-content: center;
}

.origin{
    color:#ff006e;
    display: flex;
    justify-content: center;
}